<%- include ('header',{pagetitle: 'Vendég létrehozás/módosítás'}) %>
    <h1>Vendég létrehozás/módosítás</h1>
    <div class="flex">
      <p>Név</p>
      <input type="text" />
    </div>
    <div class="flex">
      <p>Érkezés</p>
      <select>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
      </select>
    </div>
    <div class="flex">
      <p>Hamburger</p>
      <select>
        <option value="1">Dupla húsos</option>
        <option value="2">Csípős hamburger szószos</option>
      </select>
    </div>
    <div class="flex">
      <button
        type="button"
        class="button"
        onclick="window.location.href='guests.html';"
      >
        Mentés és vissza
      </button>
      <button
        type="button"
        class="button"
        onclick="window.location.href='guests.html';"
      >
        Vissza
      </button>
    </div>
<%- include ('footer') %>
