<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/style.css" />
    <title> pagetitle </title>
  </head>
  <body>
    <div class="ribbon">
        <div>
          <button
            type="button"
            class="ribbonbutton"
            onclick="window.location.href='guest';"
          >
            Vendégek
          </button>
        </div>
        <div>
          <button
            type="button"
            class="ribbonbutton"
            onclick="window.location.href='burger';"
          >
            Hamburgerek
          </button>
        </div>
      </div>
      <div class="heading">
        <h1> listname </h1>
        <div>
          <button
            type="button"
            class="button"
            onclick="window.location.href='burgereditnew';"
          >
            newname
          </button>
        </div>
      </div>